* {
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

::-webkit-scrollbar {
    width: 0
}

body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.avatar {
    width: 32px;
    height: 32px;
    margin-right: 5px;
    border-radius: 50%
}

.author {
    font-size: 1.2rem;
    font-weight: bold
}

.midle-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.bottom-right {
    position:fixed;
    bottom:15px;
    right:15px
}

.icons {
    width: 30px;
    height: 30px;
    color: black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    transition: background 0.2s;
}

.icons:hover {
    color: rgb(47, 54, 53);
}